@model InterMescyt.Data.Execution

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Execution</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Executed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Executed)
        </dd>
    </dl>
    @if (Model.TransactionNumber != null)
    {
        <a class="btn btn-info" asp-action="Details" asp-controller="Headers" asp-route-id="@Model.TransactionNumber.Value">Go to transaction</a>
    }
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExecutionLines.FirstOrDefault().Text)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutionLines.FirstOrDefault().ValidationMessage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutionLines.FirstOrDefault().Suscess)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutionLines.FirstOrDefault().Execution)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ExecutionLines)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Text)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ValidationMessage)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Suscess)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Execution.Id)
                </td>
            </tr>
        }
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
